project-card {
  background-color: #fff;
  border-radius: var(--radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: var(--space);
  text-align: left;
  transition: transform 0.2s ease-in-out;
}
.project-card__coverimg {
  width: 100%;
  border-radius: var(--radius);
  margin-bottom: 12px;
}
